<!DOCTYPE html>
<html>
    <head>
        <title>Drew's Very First Blog!!!!</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">My first post</a></h2>
                <p>This is so exciting! After all the headache this has caused, I FINALLY have a live, working website!</p>
            </article>
            <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>

